In [2]:
import numpy as np
import pandas as pd

In [39]:
import numpy as np
import pandas as pd

np.random.seed(23) 

mu_vec1 = np.array([0,0,0])
cov_mat1 = np.array([[1,0,0],[0,1,0],[0,0,1]])
class1_sample = np.random.multivariate_normal(mu_vec1, cov_mat1, 20)

df = pd.DataFrame(class1_sample,columns=['feature1','feature2','feature3'])
df['target'] = 1

mu_vec2 = np.array([1,1,1])
cov_mat2 = np.array([[1,0,0],[0,1,0],[0,0,1]])
class2_sample = np.random.multivariate_normal(mu_vec2, cov_mat2, 20)

df1 = pd.DataFrame(class2_sample,columns=['feature1','feature2','feature3'])

df1['target'] = 0

df = df._append(df1,ignore_index=True)

df = df.sample(40)

In [40]:
df.head(3)

    feature1  feature2  feature3  target
2  -0.367548 -1.137460 -1.322148       1
34  0.177061 -0.598109  1.226512       0
14  0.420623  0.411620 -0.071324       1

In [41]:
# step 1 apply standard scaling.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

df.iloc[:,0:3] = scaler.fit_transform(df.iloc[:,0:3])

In [43]:
df.head(2)

    feature1  feature2  feature3  target
2  -0.700809 -1.525586 -1.749156       1
34 -0.224481 -1.010757  0.491251       0

In [44]:
# step 2 - finding covariance matrix.
cov_matrix = np.cov([df.iloc[:,0], df.iloc[:,1], df.iloc[:,2]])
cov_matrix

array([[1.02564103, 0.20478114, 0.080118  ],
       [0.20478114, 1.02564103, 0.19838882],
       [0.080118  , 0.19838882, 1.02564103]])

In [45]:
# step 3. finding the Eigenvectors and eigenvalus.
eigen_values, eigen_vectors = np.linalg.eig(cov_matrix)

In [46]:
eigen_values

array([1.3536065 , 0.94557084, 0.77774573])

In [53]:
eigen_vectors

array([[-0.53875915, -0.69363291,  0.47813384],
       [-0.65608325, -0.01057596, -0.75461442],
       [-0.52848211,  0.72025103,  0.44938304]])

In [58]:
# picking the top 2 eigen-vectors:
pc = eigen_vectors[0:2]
pc

array([[-0.53875915, -0.69363291,  0.47813384],
       [-0.65608325, -0.01057596, -0.75461442]])

In [68]:
# Now we'll shift the existing points in this new 2-D space (pc1, pc2)
transformed_df = np.dot(df.iloc[:,0:3], pc.T)
# [40*3] * [3,2] ----> [40*2]
new_df = pd.DataFrame (transformed_df, columns = ['PC1', 'PC2'])
new_df['target'] = df['target'].values
new_df.head()

        PC1       PC2  target
0  0.599433  1.795862       1
1  1.056919 -0.212737       0
2 -0.271876  0.498222       1
3 -0.621586  0.023110       1
4  1.567286  1.730967       1